<nav class="navbar navbar-expand-lg navbar-dark p-2 bg-black">
  <div class="container">
    <a class="navbar-brand" href="/">PROYECTO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      </ul>
      <ul class="navbar-nav ms-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Notas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/notes">Todas las notas</a>
              <a class="dropdown-item" href="/notes/add">Agregar nota</a> 
              <a class="dropdown-item" href="/perfil">Mi perfil</a> 
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">Salir</a>
            </ul>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/auth/signin">Inicia Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Registrate</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
